/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/logs/*
!/logs/.gitkeep
/app/phpunit.xml
/assets/vendor/
/bin/
/node_modules
/vendor/
/httpdocs/bundles
/httpdocs/media/
/docker-compose.yml
/app/session
/build.tar.gz
/build
httpdocs/build
/.idea
/database
/assets/bundles/
