# vi: set ft=yaml ts=2 sw=2 sts=2 :
parameters:
  asset_version: ~

  database_driver: pdo_mysql
  database_host: 127.0.0.1
  database_port: ~
  database_name: symfony2
  database_user: root
  database_password: mysecretpw

  locale: lt
  locale_timezone: Europe/Vilnius
  secret: ThisTokenIsNotSoSecretChangeItOnProduction
  cache_namespace: lasf # should be unique per release on production

  mailer_transport: smtp
  mailer_host: mailtrap.io
  mailer_user: 48cd702689b5ff
  mailer_password: 5e17be17ab05c9
  mailer_sender: { noreply@lasf.lt: "Stage LASF Sistema" }
  mailer_auth_mode: cram-md5
  mailer_port: 2525

  recaptcha_public_key: "pub-key"
  recaptcha_private_key: "priv-key"
  recaptcha_locate_key: %kernel.default_locale%

  sentry_dsn: ""

  google_places_key: AIzaSyApaqrQ5LK2u5Wn6wWQE7D4fGtxnh_pG2Q

  lp_express_key: 'http://api.balticpost.lt/download/terminallist/?key=HB4BLIUPZ6B7'