{% extends 'AppBundle::layout.html.twig' %}

{% block content %}

    {% include 'AppBundle::flashes.html.twig' %}

    <div class="container-fluid">
        <div class="jumbotron col-sm-12">
            <div class="col-sm-12">
                <div class="page-header">
                        <h1>DAINOS</h1>
                    </a>
                </div>
                <div>
                    <ul>
                        {% for song in songs %}
                            <li>
                                <a href="{{ path('song', {'song': song.name } ) }}">
                                  <span>
                                    {{ song.name }}
                                  </span>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
