{% extends 'AppBundle::layout.html.twig' %}
{% block css %}
    <style>
        .audioCenter
        {
            margin: 10px auto;
            width: 320px;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="jumbotron">
            <div class="text-center">
                <h2>{{ song }}</h2>
            </div>
            <div class="container-fluid audioCenter">
                <audio controls>
                    <source src="/uploads/{{ song }}.mp3" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
            </div>
            <div class="text-center page-header" style="margin-bottom: -0px;">
                <h1>Žodžiai</h1>
            </div>
        </div>
        <div class="text-center" style="margin-top: -50px;">
            {% set x = 0 %}
            {% for i in 0..10 %}
                {% if file_exists('uploads/'~song~'_l'~x~'.png') %}
                    <img style="width: 100%;" src="{{ asset('uploads/'~song~'_l'~x~'.png') }}">
                    {% set x = x + 1 %}
                {% endif %}
            {% endfor %}
        </div>
        <div class="jumbotron">
            <div class="text-center page-header">
                <h1>Gitaros natos</h1>
            </div>
        </div>
        <div class="text-center">
            {% set x = 0 %}
            {% for i in 0..10 %}
                {% if file_exists('uploads/'~song~'_t'~x~'.png') %}
                    <img style="width: 110%;" src="{{ asset('uploads/'~song~'_t'~x~'.png') }}">
                    {% set x = x + 1 %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
