{% extends 'AppBundle::layout.html.twig' %}

{% block content %}

{% include 'AppBundle::flashes.html.twig' %}

    <div class="container-fluid">
        <div class="jumbotron col-sm-12">
            <div class="col-sm-12">
                <div class="page-header contentPageTitle">
                    <h1>STRAIPSNIAI</h1>
                </div>
                    {% if articles is empty %}
                        <div>
                            <span>
                                Šiuo momentu straipsniu nėra
                            </span>
                        </div>
                    {% else %}
                        <div>
                            <ul class="contentListUl">
                                {% for article in articles %}
                                    <li>
                                        <a href="{{ path('article', {'id': loop.index } ) }}">
                                            <div class="row contentpadding">
                                                <div class="col-md-2 contentIconPadding">
                                                    <img class="contentImage" src="https://www.heighpubs.org/articleIcons/0423042031704article-icon[1].png"/>
                                                </div>
                                                <div class="col-md-10 contentTitle">
                                                  <span class="contentFont">
                                                    {{ article.title }}
                                                  </span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
