{% extends 'AppBundle::layout.html.twig' %}

{% block content %}

{% include 'AppBundle::flashes.html.twig' %}

    <div class="container-fluid">
        <div class="jumbotron col-sm-12">
            <div class="col-sm-12">
                <div class="page-header">
                    <a href="{{ path('app_article_index') }}">
                        <h1>STRAIPSNIAI</h1>
                    </a>
                    {% if articles is empty %}
                        <div>
                            <span>
                                Šiuo momentu straipsniu nėra
                            </span>
                        </div>
                    {% else %}
                        <div>
                            <ul>
                                {% for song in songs %}
                                    <li>
                                        <a href="{{ path('song', {'song': song.name } ) }}">
                              <span>
                                {{ song.name }}
                              </span>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
