{% extends 'AppBundle::layout.html.twig' %}

{% block content %}

    {% include 'AppBundle::flashes.html.twig' %}

  <div class="col-lg-12">
      <span>Koncertų organizavimas</span>
  </div>

{% endblock %}
