{% extends 'AppBundle::layout.html.twig' %}

{% block content %}

    {% include 'AppBundle::flashes.html.twig' %}

  <div class="col-lg-12">
      <span class="text-primary text-center" style="font-size: 30px">Koncertų organizavimas</span>
  </div>

{% endblock %}
