<a href="{{ path('app_audit_index', {filters: {history: assoc.fk, class: assoc.class}}) }}">
  {{ assoc.label|trans }} <i class="fa fa-history" title="{{ 'audit.index.show_history'|trans }}"></i>
</a>
