<p>&copy; {{ "now"|date("Y") }} DATA-DOG<a style="margin-left: 40px" href="{{ path('app_dashboard_terms') }}">Taisyklės</a> <a  style="margin-left: 20px" href="{{ path('app_dashboard_privacy') }}">Privatumo politika</a></p>
